<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Email</title>
</head>
<body>
	<div style='display: flex; place-content: center;'>
		<div style='width: max-content; margin: 50px; padding: 50px; border-radius: 10px; box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 2px 15px 0 rgb(0 0 0 / 5%);'>
			<div>
				<img style='min-width: 150px; margin-top: 25px; margin-bottom: 20px' src='https://storage.googleapis.com/katalogize-files/official/Email/katalogize_logo.png'>
			</div>
			<div style='font-size: 21px; font-family: Inter,sans-serif;'>
				<b>Welcome to Katalogize, USER_NAME!</b>
				<p>You were registered successfully and can start creating your Katalogs!</p>
				<p>Katalogize allows you to create catalogs about anything you want, however you need.</p>
				<p style='text-align:center;  margin: 50px;'><a style="padding: 15px; border-radius: 10px; text-decoration: none; background-color: #279cac; color: white" href='https://katalogize.com' target='_blank' rel='noreferrer'>Visit Katalogize</a><p>
				<p>Are you a developer? You can also start using our <a style='color: #279cac;' href='https://api.katalogize.com' target='_blank' rel='noreferrer'>Katalogize API</a>.</p>
				<p>If you have any questions, feel free to email us at: <a href='mailto:katalogize@gmail.com?subject=Katalogize Help Request' style='color: #279cac;'>katalogize@gmail.com</a></p>
				<div>Thanks,</div>
				<div style='color: #279cac;'><b>Katalogize Team</b></div>
				<p style='font-size: 14px;'>If you haven't requested an account, please ignore this mail.</p>
			</div>
		<div>
	</div>
</body>
</html>